@import "./zero.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$orange: rgba(255, 191, 43, 1);
$blue: rgba(43, 125, 247, 1);

.app {
  font-family: 'open sans';
}

%quatro {
  height: calc(50% - 10px);
  width: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: white;
}



@mixin media($size, $mood: max) {
  @media screen and (#{$mood}-width: $size) {
    @content;
  }
}

