@import "./zero.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$orange: rgba(255, 191, 43, 1);
$blue: rgba(43, 125, 247, 1);

.app {
  max-width: 100%;
  border: solid;
  display: flex;
  align-items: center;
}

%quatro {
  height: calc(50% - 10px);
  width: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: white;
}

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 110px;
  height: 55px;
  font-weight: 600;
  @media screen and (max-width: 768px) {
    width: 80%;
    margin-left: 0;
  }
}








.header {
  padding: 10px 180px;
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  &__brand{
    padding: 0;
    display: flex;
    align-items: center;
    height: 55px;
  }


  &__logo {
    max-height: 35px;
  }

  &__logo-txt {
    color: white;
    margin-left: 5px;
  }
  &__burger {
    display: none;
    background-color: transparent;
  }
  &__nav {
    display: flex;
  }



}


.header__logo-txt {
  color: white;
  margin-left: 5px;
}
.header__burger {
  display: none;
  background-color: transparent;
}
.header__nav {
  display: flex;
}


//first block =========
.firstblock {
  height: 600px;
  min-width: 350px;
  background-color: $orange;

  &__img {
    height: calc(100% - 10px);
    background-image: url("./img/c3a10436475a8972b35974e832bc3ced\ \(1\).png");
    background-color: rgba(44, 125, 247, 0.67);
    border-bottom-right-radius: 100% 40px;
    border-bottom-left-radius: 100% 40px;
  }

  &__cover {
    height: 100%;
    background-color: rgba(44, 125, 247, 0.67);
    border-bottom-right-radius: 100% 30px;
    border-bottom-left-radius: 100% 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
  }
}
//table=========
.table {
  padding: 20px 20px;
  height: auto;
  width: 630px;
  background-color: white;
  display: flex;
  flex-direction: column;
  &__head {
    display: flex;
  }

  &__row {
    display: flex;
  }

  &__cell {
    width: calc(100% / 6);
    min-height: 3em;
    width: 100px;
    word-wrap: break-word;
    margin: 10px;
    font-weight: 500;
  }
}
//offer=========
.offer {
  color: white;
  padding-right: 50px;
  width: 350px;

  &__brand {
    width: 350px;
  }

  &__title {
    font-size: 32px;
    padding: 30px 0px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 32px;
  }
}
//form =========

.form {
  width: 100%;
  display: flex;
  justify-content: center;


  &__body {
    width: 50%;
    max-width: 450px;
    background: #ecf4ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 30px 30px;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__btn {
    @extend .btn--active;
    &:hover {
      background-color: transparent;
      color: rgba(255, 191, 43, 1);
      border: solid;
    }
  }



  &__title {
    margin-bottom: 20px;
  }
  &__row {
    width: 90%;
    margin-bottom: 20px;
  }

  &__field {
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 4px;
  }

  &__input {
    margin: 5px;
    width: 95%;
    background: white;
  }

  &__active-plaseholder {
    position: absolute;
    padding: 0 10px;
    left: 5px;
    top: -13px;
    z-index: 2;
    background-color: blanchedalmond;
    background-color: transparent;
    background: linear-gradient(0deg, white 50%, #ecf4ff 50%);
  }
}
.green {
  border: solid 0.3px green;
}
.border-red-500 {
  border: solid 2px red;
}
.show {
  display: block;
}
.none {
  display: none;
}

.footer {
  background-color: rgba(43, 125, 247, 1);
  display: flex;
  justify-content: space-around;
  height: 225px;
  padding: 30px;

  &__logo {
    display: flex;

    align-items: center;
    margin-bottom: 30px;
    color: white;
  }

  &__columns {
    display: flex;
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
  }

  &__item {
    margin: 5px 0px;
    color: white;
    line-height: 22px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__btns {
    display: flex;
  }

  &__copyright {
    color: white;
  }
  &__text{
    margin-left: 10px;
  }
}





.skills {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  &__title {
    padding: 50px 0px;
    font-size: 32px;
    align-self: start;
    padding-left: 50px;
    font-weight: 500;
  }
  &__body {
    width: 1200px;
    display: flex;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 500px;
    justify-content: space-around;
  }

  &__item {
    height: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding: 20px;
  }

  &__icon {
    box-sizing: border-box;
    margin: 0 15px;
    border: solid 0.3px;
    color: blueviolet;
    border-radius: 50%;
    height: 35px;
    min-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__circle {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    height: 500px;
  }

  &__quatro-1 {
    @extend %quatro;
    border-top-left-radius: 100%;
  }

  &__quatro-2 {
    @extend %quatro;
    border-top-right-radius: 100%;
  }
  &__quatro-3 {
    @extend %quatro;
    border-bottom-left-radius: 100%;
  }
  &__quatro-4 {
    @extend %quatro;
    border-bottom-right-radius: 100%;
  }

  &__quatro-text {
    display: flex;
    height: auto;
    padding-bottom: 15px;
  }
}




.description {
  margin: auto;
  width: 90%;
  display: flex;
  height: 430px;
  font-family: "open sans";
  justify-content: space-between;

  &__left {
    width: 550px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    height: auto;
  }

  &__title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 45px;
    padding: 20px;
    font-weight: 300;
    font-family: sans-serif;
    width: 80%;
  }

  &__items {
    width: 80%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100% - 80px);
  }

  &__item {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid;
  }

  &__number {
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    color: yellowgreen;
  }
  &__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__img {
    width: 530px;
    height: 380px;
  }
}




.team {
  width: 90%;
  max-width: 1100px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  height: 600px;

  &__title {
    font-size: 36px;
    font-family: "open sans";
    font-weight: 300;
    margin-bottom: 35px;
  }
  &__cols {
    height: 562px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__col {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 530px;
    height: 380px;
  }

  &__description {
    width: 530px;
  }

  &__more {
    align-self: flex-end;
    border-right: solid;
    color: blueviolet;
    padding-right: 10px;
  }
}

.error {
  color: white;
  font-weight: 700;
  font-size: 36px;
}

@import "./btn.scss";
@import "./sqreen1100.scss";
@import "./sqreen768.scss";
