@media screen and (max-width: 768px) {


    .header__burger-icon {
      color: $orange;
      font-size: 28px;
      min-width: 30px;
      min-height: 30px;
    }
    .hide {
      display: none;
    }
    .header__nav {
      width: 100%;
      margin: 15px;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .btn {
      width: 80%;
    
      margin-left: 0px;
      
    }


}
