@media screen and (max-width: 1100px) {


  .firstblock{
    display: flex;
    flex-direction: column;
  
    &__cover{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    }
  }


  .offer {
    color: white;
    padding:0;
    width: 450px;
    margin-bottom: 20px;
    &__brand {
      display: none;
    }
  
    &__title {
      margin: auto;
      font-size: 42px;
      text-align: center;
     
    }
  
    &__subtitle {
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }
  }



  .form {
  
    &__body{
      width: 70%;
      
    }
  }


  .skills {

  &__body{
    // padding: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 460px;
    justify-content: center;
    padding: 0px 30px;
    font-size: 16px;
    width: 100%;
   
  }
    &__column{
      width: 40%;
      height: 220px;
    }
    &__circle {
      order: 2;
      max-width: 400px;
      max-height: 400px;
    }
  
    &__item{
      padding: 5px;
    }
  
    &__quatro-text {
      display: flex;
      height: auto;
      padding-bottom: 15px;
    }
  }

  .description {
    margin-top: 30px;
    padding: 0px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;

    &__left {
      height: auto;
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &__title {
      height: 80px;
      padding: 0;
      text-align: center;
      margin: 0;
      width: 90%;
    }

    &__items {
      width: 500px;
      display: flex;

      height: auto;
      justify-items: flex-start;
      margin-top: 20px;
    }

    &__item {
      height: auto;
      font-size: 14px;
      padding: 10px;
    }

    &__right {
      min-height: 228px;
      width: 100%;
      background-image: url('./img/skills/cba4c53d31f0995a0d88fc09779eea46.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__img {
      width: 100px;
      display: none;
    }
  }

  .team {
    height: auto;

    &__title {
      text-align: center;
    }
    &__cols {
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    &__col {
      width: 443px;
      height: 450px;
      margin-bottom: 30px;
    }

    &__img {
      width: 530px;
      max-height: 250px;
    }

    &__description {
      width: 530px;
    }

    &__more {
      align-self: flex-end;
      border-right: solid;
      color: blueviolet;
    }
  }




  }