@import './../../styles/App.scss';

.nav {
  display: flex;

  @include media(768px) {
    width: 100%;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }


}

.hide {
  @include media(768px) {
    display: none;
  }
}